@import "variables";

.progress-container {
	background-color: #ddd;
	overflow: hidden;
	height: 1.2em;
	margin: 4px 0;

	.progress{
		background-color: $success;
		color: #FFF;
		font-size: 0.9em;
		height: 100%;
		line-height: 1.2em;
		padding: 0.1em 0;
		text-align: center;
	}

}

