@import "variables";

.text {
	font: $font-default;

	@each $name, $value in $theme-colors {
		&-#{$name} {
			color: $value;
		}
	}

	@each $name, $value in $theme-colors-light {
		&-#{$name} {
			color: $value;
		}
	}

}
