// Phones, small screens (default)
.container {
	background-color: #eee;
	border: 2px solid lightcoral;
	display: flex;
	flex-wrap: wrap;
	margin: 15px;

	.col-base{
		background: #c9302c;
		border: 1px solid green;
		color: white;
		line-height: 50px;
		font-weight: 600;
		text-align: center;
	}

	.col-sm{
		@for $i from 1 through 12 {
			&-#{$i} {
				@extend .col-base;
				width: 100%;
			}
		}
	}

	.col-md{
		@for $i from 1 through 12 {
			&-#{$i} {
				@extend .col-base;
				width: 100%;
			}
		}
	}

}

// Tablets
@media (min-width: 768px) {
	.container{
		flex-wrap: nowrap;

		.col-md{
			@for $i from 1 through 12 {
				&-#{$i} {
					width: $i / 12 * 100%;
				}
			}
		}

	}
}

// Desktop
@media (min-width: 1024px) {
	.container{
		flex-wrap: nowrap;

		.col-lg{
			@for $i from 1 through 12 {
				&-#{$i} {
					background: DeepSkyBlue;
					border: 1px solid green;
					color: white;
					line-height: 50px;
					font-weight: 600;
					text-align: center;
					width: $i / 12 * 100%;
				}
			}
		}

	}
}
