// Default styling
.container {
	background-color: #eee;
	border: 2px solid lightcoral;
	display: flex;
	flex-wrap: wrap;
	margin: 15px;

	.col-base{
		background: deepskyblue;
		color: white;
		line-height: 50px;
		font-weight: 600;
		text-align: center;
	}

	.col-sm{
		@for $i from 1 through 12 {
			&-#{$i} {
				@extend .col-base;
				width: 100%;
			}
		}
	}

	.col-md{
		@for $i from 1 through 12 {
			&-#{$i} {
				@extend .col-base;
				width: 100%;
			}
		}
	}

	.col-lg{
		@for $i from 1 through 12 {
			&-#{$i} {
				@extend .col-base;
				width: 100%;
			}
		}
	}

}

// Phones (small)
@media (min-width: 0px) {
	.container{
		flex-wrap: wrap;

		.col-sm{
			@for $i from 1 through 12 {
				&-#{$i} {
					width: $i / 12 * 100%;
				}
			}
		}

	}
}

// Tablets (medium)
@media (min-width: 768px) {
	.container{
		flex-wrap: nowrap;

		.col-md{
			@for $i from 1 through 12 {
				&-#{$i} {
					width: $i / 12 * 100%;
				}
			}
		}

	}
}

// Desktops (large)
@media (min-width: 768px) {
	.container{
		flex-wrap: nowrap;

		.col-lg{
			@for $i from 1 through 12 {
				&-#{$i} {
					width: $i / 12 * 100%;
				}
			}
		}

	}
}
