.container {
	background-color: #eee;
	border: 2px solid lightcoral;
	display: flex;
}

.col{

	@for $i from 1 through 12 {
		&-#{$i} {
			background: DeepSkyBlue;
			border: 1px solid green;
			color: white;
			line-height: 50px;
			font-weight: 600;
			text-align: center;
			width: $i / 12 * 100%;
		}
	}

}
