@import "normalize";
@import "grid";
@import "themes/default/master";

a, a:visited {
	color: $secondary;
	text-decoration: none;

	&:hover{
		color: $secondary-light;
	}

	&.active{
		font-weight: 700;
	}

}

.nav {

	a, a:visited {
		color: #ffffff;
	}

}

img {
	max-width: 100%;
}

hr {
	border-style: none;
	border-top: 1px solid ($default-light * 1.2);
}

p{
	margin: 0 0 0.75em;
}

pre{
	border: 1px solid ($default-light * 1.1) !important;
	padding: 6px 8px !important;
}

ul{
	li{
		list-style-type: disc;
	}
}
